<table class="w3-table-all">
    <tr>
    <th>Method</th>
    <th>Description</th>
    </tr>
    <tr>
    <td><strong>Structure</strong></td>
    <td>Data collection method may be highly structured, indicating what information is to be collected and how, whilst the alternative may be to have a minimum of structure to enable information to be revealed from the participants personal experiences.</td>
    </tr>
    <tr>
    <td><strong>Quantifiable</strong></td>
    <td>If statistics (quantitative research) are to be used, the data must be gathered in a way that enables this to occur, whilst data, which is collected from narrative (qualitative research), is typically collected in word form. As a rule a structured approach to data collection usually yields data which is easier to quantify, though data collected from unstructured tools may also be quantified.</td>
    </tr>
    <tr>
    <td><strong>Researcher obtrusiveness</strong></td>
    <td>The participants may be aware they are taking part in a study or they may be unaware. In the former case this may affect their performance (the Hawthorne effect), whilst in the latter there are a number of ethical problems which may arise.</td>
    </tr>
    <tr>
    <td><strong>Objectivity</strong></td>
    <td>Scientific work generally strives to be as objective as possible, though in some types of research (e.g. phenomenology) the subjective judgement of the researcher is a valuable component in the data collection process. If these are seen as different aspects of data collection, it may well be that the approach taken by a researcher demands one or other characteristic to be dominant.</td>
    </tr>
    </table>

    