<table class="w3-table-all">
    <tr>
      <th>Advantages</th>
      <th>Disadvantages</th>
      <th>Challenges</th>
    </tr>
    <tr>
      <td>Can be structured or unstructured as befits the phenomenon being explored</td>
      <td>Criticised as superficial</td>
      <td>Confidentiality of data is limited, as more people are involved</td>
    </tr>

    <tr>
        <td>Scope to include activities</td>
        <td>Can require lots of preparation and resources</td>
        <td>Conflict during discussion is a risk</td>
      </tr>

      <tr>
        <td>Can explore and expand upon complex issues at any stage of the research process (to initiate research or to facilitate reflection on it). Work well in conjunction with other methods</td>
        <td>Moderators may need to continually encourage participation</td>
        <td>Maintaining group dynamics is not always manageable</td>
      </tr>

      <tr>
        <td>Allows members to choose to participate in some questions, but not others</td>
        <td>Limited opportunity for personal reflection.</td>
        <td>Moderators' skill, confidence and experience are key questions in the smooth running of FGD</td>
      </tr>

      <tr>
        <td>Participant driven</td>
        <td>Potential for individual participants to dominate</td>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <td>&nbsp;</td>
        <td>May discriminate as participants may not be equally positioned to participate</td>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <td>&nbsp;</td>
        <td>some participants may not feel comfortable sharing views in front of the group</td>
        <td>&nbsp;</td>
      </tr>
    </table>