<div class="w3-container w3-card w3-white w3-round-large w3-padding-16">
<div class="w3-bar w3-teal">
    <button class="w3-bar-item w3-button" onclick="openQuantRes('RCT')">Randomized controlled trials</button>
    <button class="w3-bar-item w3-button" onclick="openQuantRes('CSRS')">Cross-sectional Research study</button>
    <button class="w3-bar-item w3-button" onclick="openQuantRes('LRS')">Longitudinal Research Study</button>
  </div>
  
  
  <div id="RCT" class="quantres">
    <h2>Randomized controlled trials</h2>
    <p><strong>Description</strong></p>
    <p>
        A randomized controlled trial (RCT) is a type of scientific experiment, designed to assess the effectiveness of a particular intervention or treatment.
        The randomised controlled trial (RCT) is considered the gold standard for assessing the efficacy of interventions because it is the most scientifically rigorous approach to hypothesis testing currently available. 
        In an RCT, participants are randomly assigned to one of two or more groups: an experimental group that receives the treatment being studied, and a control group that does not receive the treatment or receives a placebo or standard treatment for comparison.
         </p>
      <p><strong>Key characteristics</strong></p>
      <p><strong>Randomization</strong>: is a process of randomly allocating participants so that each participant has an equal chance of being assigned to any particular group.&nbsp;</p>
<p>This random assignment eliminates selection bias ensuring that the groups are similar in terms of potential confounding variables.</p>
<p><strong>Blinding: </strong>In many RCTs, participants and researchers are "blinded" to the treatment assignment to prevent biases. Single-blind means participants don't know which group they're in, and double-blind means both participants and researchers are unaware.</p>
<p><strong>Causality Inference:&nbsp;</strong>RCTs are well-suited for establishing causation. By randomly assigning participants to different groups, researchers can confidently attribute observed differences in outcomes to the intervention being studied rather than pre-existing differences between participants.</p>
<p><strong>Generalizability:&nbsp;</strong>Well-designed RCTs provide findings that can be generalized to broader populations.</p>
  </div>
  
  <div id="CSRS" class="quantres w3-card w3-padding" style="display:none">
    <h2>Cross-sectional Research study</h2>
    <p><strong>Description</strong></p>
    <p>A cross-sectional research study is a type of observational research design that involves data collection from a specific sample or population at a single point in time. The primary goal of a cross-sectional study is to gather information about the characteristics, behaviours, or conditions of the study participants at that particular moment. The cross-sectional research design is often called a survey design (Bryman 2016).
    </p>
    <p><strong>Key characteristics</strong></p>
    <p><strong>Single Time Point:&nbsp;</strong>Cross-sectional studies collect data from participants at a specific point in time, providing a snapshot of the population's characteristics, behaviours, or conditions at that moment.</p>
    <p><strong>Prevalence Estimates</strong>:&nbsp;Cross-sectional studies are often used to estimate the prevalence of certain conditions, behaviours, or characteristics within a population at a specific point in time.</p>
    <p><strong>Limited Causality Inference:&nbsp;</strong>Cross-sectional studies are limited in their ability to establish causal relationships between variables. The observed associations may be due to confounding factors, and the temporal sequence of events cannot be determined.</p>
    <p><strong>Survey Methods:&nbsp;</strong>Data in cross-sectional studies are often collected through surveys, interviews, or other methods that can efficiently capture a wide range of information from a large number of participants.</p>
  </div>
  
  <div id="LRS" class="quantres w3-card w3-padding" style="display:none">
    <h2>Longitudinal Research Study</h2>
    <p><strong>Description</strong></p>
    <p>Longitudinal research designs involve the collection of data at multiple time points over an extended duration. These designs serve as valuable tools for investigating temporal changes and determining the chronological order of events, a fundamental aspect when establishing causative relationships.
    </p>
  
    <p><strong>Key characteristics</strong></p>
    <p><strong>Time Frame:</strong> studies are conducted over an extended period (months to years); this allows researchers to observe changes, developments, and trends.</p>
    <p><strong>Repeated Measurements: </strong>Participants are typically measured or observed multiple times at different intervals during the study. This may involve follow-up assessments, surveys, interviews, or other data collection methods at predetermined time points.</p>
    <p><strong>Temporal Sequence:&nbsp;</strong>Longitudinal studies establish a temporal sequence, enabling researchers to infer causality.</p>
  </div>

</div>