<table class="w3-table-all">
    <caption>
        Mode of Questionnaire Administration
      </caption>
    <tr>
      <th>Self Reported</th>
      <th>Interviewer Administered</th>
      <th>Computer Assisted</th>
    </tr>
    <tr>
      <td>Face to Face</td>
      <td>Face to Face</td>
      <td>Automated Telephone Interview</td>
    </tr>

    <tr>
      <td>Postal Survey</td>
      <td>Telephone</td>
      <td>Virtual Interview</td>
    </tr>

    <tr>
      <td>Online Survey (including computer assisted self report survey)</td>
      <td>Computer assisted video/audio interview survey</td>
      <td>Touch Tone Data Entry</td>
    </tr>


    </table>