  
    <style>
       
    </style>

<div class="w3-container w3-card w3-white w3-round-large w3-padding-16">
    <!-- <h1 class="w3-center w3-text-indigo">Research Methods</h1> -->
    
    <div class="w3-bar w3-black">
        <button class="w3-bar-item w3-button tablink w3-red" onclick="openMethod(event,'GroundedTheory')">Grounded Theory</button>
        <button class="w3-bar-item w3-button tablink" onclick="openMethod(event,'Phenomenology')">Phenomenology</button>
        <button class="w3-bar-item w3-button tablink" onclick="openMethod(event,'Ethnography')">Ethnography</button>
    </div>

    <div id="GroundedTheory" class="w3-container method">
        <h2 class="w3-text-red">Grounded Theory</h2>
        <p>GT is a structured, yet flexible approach, concerned with the generation of theory, which is 'grounded' in data that has been systematically collected and analysed.</p>
        
        <div class="w3-row-padding w3-center w3-margin-top">
            <div class="w3-col l4 m6 w3-margin-bottom component active" data-component="Key Characteristics">
                <i class="fas fa-key method-icon w3-text-red"></i>
                <h4>Key Characteristics</h4>
            </div>
            <div class="w3-col l4 m6 w3-margin-bottom component" data-component="Theoretical Sampling">
                <i class="fas fa-random method-icon w3-text-red"></i>
                <h4>Theoretical Sampling</h4>
            </div>
            <div class="w3-col l4 m6 w3-margin-bottom component" data-component="Theoretical Sensitivity">
                <i class="fas fa-lightbulb method-icon w3-text-red"></i>
                <h4>Theoretical Sensitivity</h4>
            </div>
            <div class="w3-col l4 m6 w3-margin-bottom component" data-component="Theoretical Saturation">
                <i class="fas fa-fill-drip method-icon w3-text-red"></i>
                <h4>Theoretical Saturation</h4>
            </div>
            <div class="w3-col l4 m6 w3-margin-bottom component" data-component="Coding">
                <i class="fas fa-code method-icon w3-text-red"></i>
                <h4>Coding</h4>
            </div>
            <div class="w3-col l4 m6 w3-margin-bottom component" data-component="Constant Comparison">
                <i class="fas fa-balance-scale method-icon w3-text-red"></i>
                <h4>Constant Comparison</h4>
            </div>
            <div class="w3-col l4 m6 w3-margin-bottom component" data-component="Memo Writing">
                <i class="fas fa-sticky-note method-icon w3-text-red"></i>
                <h4>Memo Writing</h4>
            </div>
        </div>
        
        <div id="groundedtheoryDescription" class="w3-panel w3-light-grey w3-padding-16 w3-round-large"></div>
    </div>

    <div id="Phenomenology" class="w3-container method" style="display:none">
        <h2 class="w3-text-blue">Phenomenology</h2>
        <p>Phenomenology is concerned with the lived experiences of humans and of the ways things present themselves to us in and through such experiences.</p>
        
        <div class="w3-row-padding w3-center w3-margin-top">
            <div class="w3-col l3 m6 w3-margin-bottom component active" data-component="Key Characteristics">
                <i class="fas fa-key method-icon w3-text-blue"></i>
                <h4>Key Characteristics</h4>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom component" data-component="Positionality">
                <i class="fas fa-user-circle method-icon w3-text-blue"></i>
                <h4>Positionality</h4>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom component" data-component="Reflexivity">
                <i class="fas fa-sync-alt method-icon w3-text-blue"></i>
                <h4>Reflexivity</h4>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom component" data-component="Bracketing">
                <i class="fas fa-users-cog method-icon w3-text-blue"></i>
                <h4>Bracketing</h4>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom component" data-component="Hermeneutic Circle">
                <i class="fas fa-circle-notch method-icon w3-text-blue"></i>
                <h4>Hermeneutic Circle</h4>
            </div>
        </div>
        
        <div id="phenomenologyDescription" class="w3-panel w3-light-grey w3-padding-16 w3-round-large"></div>
    </div>

    <div id="Ethnography" class="w3-container method" style="display:none">
        <h2 class="w3-text-green">Ethnography</h2>
        <p>Ethnography involves the in-depth study of a specific cultural group or community.</p>
        
        <div class="w3-row-padding w3-center w3-margin-top">
            <div class="w3-col l3 m6 w3-margin-bottom component active" data-component="Key Characteristics">
                <i class="fas fa-key method-icon w3-text-green"></i>
                <h4>Key Characteristics</h4>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom component" data-component="Participant Observation">
                <i class="fas fa-eye method-icon w3-text-green"></i>
                <h4>Participant Observation</h4>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom component" data-component="Fieldwork">
                <i class="fas fa-campground method-icon w3-text-green"></i>
                <h4>Fieldwork</h4>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom component" data-component="Key informants">
                <i class="fas fa-users method-icon w3-text-green"></i>
                <h4>Key informants</h4>
            </div>
        </div>
        
        <div id="ethnographyDescription" class="w3-panel w3-light-grey w3-padding-16 w3-round-large"></div>
    </div>
</div>