<table class="w3-table-all">
    <tr>
      <th>Type</th>
      <th>Sample Size</th>
      <th>Focus</th>
    </tr>
    <tr>
      <td>Phenomonlogy</td>
      <td>6-10 participants</td>
      <td>individual experiences</td>
    </tr>

    <tr>
      <td>Grounded theory		</td>
      <td>30 - 40 participants (maybe more)</td>
      <td>develop a theory</td>
    </tr>

    <tr>
      <td>case study		</td>
      <td>Maybe one person who is followed over time</td>
      <td>characteristics of case</td>
    </tr>

    <tr>
      <td>Focus Group	</td>
      <td>6 - 10 participants per group	</td>
      <td>facilitate in-depth discussion</td>
    </tr>

    </table>