        <div class="w3-card w3-panel">
            <h3>Quantitative/Qualitative</h3>
            <table id="spider" class="w3-table w3-table-all">
                <tr class="w3-grey">
                    <th colspan="2">SPIDER</th>
                    <th colspan="2">PICOS</th>
                    <th>Example</th>
                </tr>
                <tr>
                    <td>S</td>
                    <td>Sample</td>
                    <td>P</td>
                    <td>Population</td>
                    <td>Overweight children</td>
                </tr>
                <tr>
                    <td>P + I</td>
                    <td>Phenomenon of Interest</td>
                    <td>I</td>
                    <td>Intervention</td>
                    <td>Diet</td>
                </tr>
                <tr>
                    <td>D</td>
                    <td>Design</td>
                    <td>C</td>
                    <td>Comparison</td>
                    <td>Exercise</td>
                </tr>
                <tr>
                    <td>E</td>
                    <td>Evaluation</td>
                    <td>O</td>
                    <td>Outcome</td>
                    <td>Lower BMI</td>
                </tr>
                <tr>
                    <td>R</td>
                    <td>Research Type</td>
                    <td>S</td>
                    <td>Study Type</td>
                    <td>Qualitative or Quantitative</td>
                </tr>
                <tr>
                    <td colspan="5">Does the dietary intake of overweight children when compared to their level of physical exercise, have a significant impact on reducing their Body Mass Index (BMI)?</td>
                  </tr>
            </table>
        
            <h3>Mainly Qualitative</h3>
            <table class="w3-table w3-table-all"  id="spice">
                <tr class="w3-grey">
                    <th colspan="2">SPICE</th>
                    <th>&nbsp;</th>
                </tr>
                <tr>
                    <td>S</td>
                    <td>Settings</td>
                    <td>Hospitals</td>
                </tr>
                <tr>
                    <td>P</td>
                    <td>Perspective</td>
                    <td>cancer patients</td>
                </tr>
                <tr>
                    <td>I</td>
                    <td>Intervention/ Interest/ Exposure</td>
                    <td>dog therapy</td>
                </tr>
                <tr>
                    <td>C</td>
                    <td>Comparison</td>
                    <td>music therapy</td>
                </tr>
                <tr>
                    <td>E</td>
                    <td>Evaluation</td>
                    <td>feeling of stress and loneliness</td>
                </tr>
                <tr>
                    <td colspan="3">"Among cancer patients in a hospital, does dog therapy or music therapy have a greater impact in reducing feelings of stress and loneliness?</td>
                </tr>
            </table>
            <p></p>
          </div>
