<table class="w3-table-all">
    <tr>
      <th>Vulnerable Group</th>
      <th>Description </th>
      <th>Example</th>
    </tr>
 
    <tr>
      <td><strong>Children</strong><br/>
        Infants and children under 18 years of age
        </td>
      <td>Children (under 18 years old) lack the capacity to provide informed consent; therefore, the informed consent of the children's parents or legal guardians should be obtained.</td>
      <td><strong>Balancing Parental Rights and Child's Best Interests:</strong> <br/> Balancing parental decision-making authority with the best interests of the child is a critical ethical consideration. In some cases, parental decisions may conflict with the child's well-being, requiring an assessment of the child's best interests.</td>
    </tr>

    <tr>
<td><strong>People who lack mental capacity</strong></td>
<td>People who cannot weight the risks and benefits of participation and make an informed decision.
  In cases where individuals lack the capacity to make decisions, substitute decision-makers, such as legal guardians, family members, or healthcare proxies, may be appointed.
  </td>
<td>People with learning disabilities, dementia, or stroke</td>    
</tr>

<tr>
  <td><strong>People with physical disability</strong></td>
  <td>Certain physical disabilities may necessitate special consent procedures, for example, an entire consent procedure in writing</td>
  <td>People with hearing problems or deaf</td>
</tr>

<tr>
  <td><strong>People who are terminally ill</strong></td>
  <td>Participants in research who are terminally ill can rarely expect to gain personal benefits from the study, so the risk/benefit ratio must be carefully considered.</td>
  <td><strong>Respect for Autonomy:</strong><br/> Terminally ill patients have the right to make informed decisions about their medical care. This includes choices about treatment options, pain management, and end-of-life decisions, such as advance directives and do-not-resuscitate (DNR) orders.</td>
</tr>

<tr>
  <td><strong>Pregnant women</strong></td>
  <td>Pregnant women present a specific and important ethical consideration in healthcare and research due to their unique circumstances and vulnerabilities.</td>
  <td><strong>Maternal-Fetal Conflict:</strong><br/> Ethical dilemmas can arise when the interests of the pregnant woman conflict with the interests of the fetus. In such cases, healthcare providers should prioritize the pregnant woman's well-being while considering the best interests of the fetus, striving to reach a balance that respects both.</td>
</tr>

<tr>
  <td><strong>People in various circumstances</strong></td>
  <td>People whose circumstances may unduly influence decisions to consent</td>
  <td>people who are frail or in poor health; elderly, or people who are in care.</td>
</tr>
  </table>
